services:
  elasticsearch:
    image: elasticsearch:7.14.0
    container_name: elasticsearch
    hostname: elasticsearch
    restart: always
    ports:
      - 9200:9200
    tmpfs:
      - /tmp
    volumes:
      - ./elasticsearch7/logs:/usr/share/elasticsearch/logs
      - ./elasticsearch7/data:/usr/share/elasticsearch/data
      - ./elasticsearch7/config/single-node.yml:/usr/share/elasticsearch/config/elasticsearch.yml
      - ./elasticsearch7/config/jvm.options:/usr/share/elasticsearch/config/jvm.options
      - ./elasticsearch7/config/log4j2.properties:/usr/share/elasticsearch/config/log4j2.properties
    environment:
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - "TZ=Asia/Shanghai"
      - "TAKE_FILE_OWNERSHIP=true"   # volumes 挂载权限 如果不想要挂载es文件改配置可以删除
    ulimits:
      memlock:
        soft: -1
        hard: -1
    networks:
      - base-env-network

  kibana:
    image: elastic/kibana:7.14.0
    container_name: kibana
    volumes:
      - ./kibana/config/kibana.yml:/usr/share/kibana/config/kibana.yml
    ports:
      - 5601:5601
    ulimits:
      nproc: 65535
      memlock: -1
    depends_on:
      - elasticsearch
    networks:
      - base-env-network

  logstash:
    image: elastic/logstash:7.14.0
    container_name: logstash
    hostname: logstash
    restart: always
    ports:
      - 19600:9600
      - 15044:5044
    volumes:
      - ./logstash/logstash.conf:/usr/share/logstash/pipeline/logstash.conf:rw
      - ./logstash/logstash.yml:/usr/share/logstash/config/logstash.yml
    networks:
      - base-env-network

  filebeat:
    image: elastic/filebeat:7.14.0
    container_name: filebeat
    restart: always
    user: root
    volumes:
      - ./logs:/data/logs:ro
      - ./filebeat/filebeat.yml:/usr/share/filebeat/filebeat.yml:rw
    depends_on:
      - logstash
    networks:
      - base-env-network
    # 核心新增：先改容器内配置文件权限，再启动filebeat（彻底解决777问题）
    command: >
      sh -c "chmod go-w /usr/share/filebeat/filebeat.yml && filebeat -e -c /usr/share/filebeat/filebeat.yml"

# 外部网络（需提前执行 docker network create base-env-network 创建）
networks:
  base-env-network:
    name: base-env-network  # 单独指定网络名称
    external: true          # 声明为外部网络（需提前创建）